body{
    background-image: url("../images/hotballons.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    color: blanchedalmond;
}
h1{
    text-shadow: 3px 3px 6px lightgreen;
}


.col-8{
    
}

#totalScore{
    background: lightcoral;
}
#numberDisplayed{
    background: lightcoral;
}
.tscore{
font-size: 16px;
}
h4{
    font-size: 20px;
}
h2{
    font-size: 30px;
}

.img-thumbnail{
    transition: 0.3s;
}

.img-thumbnail:hover {
    background-color: #25a9b6;
}

audio{
    display: none;
}